---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700,800);


// Our variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   1.25rem;
$base-font-weight: 400;
$base-line-height: 1.8;

$spacing-unit:     30px;

// colors
$black: #000;
$white: #FFF;
$yellow: #FFCC00;
$grey: #231F20;

$primary-text-color: $grey;
$secondary-text-color: $white;
$primary-background-color: $yellow;
$secondary-background-color: $grey;

// Width of the content area
$content-width:    998px;

$on-tablet-portrait: 768px;
$bp-medium: 640px;
$on-laptop: 800px;
$on-mobile: 500px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting",
        "common/global",
        "components/forms",
        "components/timeline",
        "components/social",
        "layouts/footer",
        "layouts/call-to-action",
        "layouts/suporters",
        "layouts/badges",
        "layouts/actions",
        "layouts/media",
        "layouts/status"
;
