---
layout: default
---

<!-- Call to action -->
<div class="wrapper" id="call-to-action">
  <div class="content">
    {% include social.html %}
    <div class="title-wrapper">
      <h1>Pare o PL Espião</h1>
      <h2>Salve o Marco Civil da Internet</h2>
    </div>
    <p>Olha, sem querer parecer alarmista, mas Eduardo Cunha quer passar na Câmara um dos maiores ataques à liberdade de expressão desde nossa ditadura. É o PL Espião, projeto de lei que pretende dar a todo político eleito a possibilidade de remover da internet conteúdo que possa lhe cheirar a calúnia. Inclusive de arquivos. E sem autorização judicial. </p>
    <p>e aprovado, te obrigaria a cadastrar cpf antes de acessar qualquer site e qualquer app. Whatsapp. Aquela rede social azul. Tudo, vigiado e cadastrado. Além disso, também pode te prender. É sério. Precisamos parar esse absurdo</p>
    <p class="centered">
      <a class="btn" href="#">Quero entender melhor o PL Espião</a>
    </p>
  </div>
</div>
<!-- /Call to action -->

<!-- Apoiadores -->
<div class="wrapper even" id="suport">
  <div class="content">
    <!-- actmail -->
    <form role="form" action="sendmail.php" method="post">
      <h1>Defenda sua liberdade!</h1>
      <div class="left">
        <p>Uma formas simples e efetiva de pressão é o email direto para deputados. Questione, argumente, aponte o caminho. Pressione. Escreva e compartilhe suas ideias com todos os deputados do Congresso.</p>
        <input type="text" name="form-name" placeholder="Seu Nome">
        <input type="text" name="form-email" placeholder="Seu E-mail">
      </div>

      <div class="right">
        <input class="disabled" type="text" name="form-subject" value="#PLespião Não!" placeholder="Assunto... ">
        <textarea name="form-message">
Excelentíssimo Sr./   Sra. Deputado/a,

O Projeto de Lei 215/2015 prevê alterações radicais em diferentes
artigos do Marco Civil da Internet (MCI) que dizem respeito à
obrigatoriedade de ordem judicial para a disponibilização de registros
de conexão ou de acesso à aplicações, retirando essa necessidade para o
caso de crimes contra a honra – calúnia, injúria e difamação.

O PL também estabelece a obrigatoriedade de retirada de conteúdos
postados na internet que se enquadrem nos crimes contra a honra, impondo
penalidades de restrição física e econômicas ao provedor de internet.
Caso seja aprovado como está, o texto fará ainda alterações no Código
Penal para permitir punições mais duras para este tipo de crime quando
praticado nas redes sociais, com penas que podem chegar a seis anos de
detenção.

Trata-se de uma clara tentativa de coibir manifestações de críticas
respaldadas pelo direito de liberdade de expressão, um dos pilares das
sociedades democráticas.

Tal projeto de lei, que agora pode ser aprovado na Comissão de
Constituição e Justiça, sequer foi analisado em qualquer comissão de
mérito. Da forma como está, ele não apenas coloca em risco o necessário
equilíbrio entre a proteção do direito à privacidade e a persecução
criminal, mas constitui uma afronta à liberdade de expressão e,
portanto, uma ameaça à democracia brasileira.

Esperamos que o referido Projeto de Lei seja amplamente discutido antes
de ser levado à votação no Plenário da Câmara.</textarea>
      <input type="submit" value="Envie seu e-mail">
      </div>
    </form>

    <div id="suporters">
      <h1>Conheça outros apoiadores</h1>
      <p>Você não está sozinho. Um grande ecossistema de organizações e indivíduos está atuando pela liberdade da rede, e já faz tempo.</p>
      <ul>
        <li class="wikipedia"><a href="#">Wikipedia</a></li>
        <li class="cgi"><a href="#">CGI</a></li>
        <li class="its"><a href="#">ITS</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="fgv"><a href="#">FGV</a></li>
      </ul>
      <p class="centered">
        <a class="btn btn-odd" href="#">O que mais vocês estão fazendo?</a>
      </p>
    </div>
  </div>
</div>
<!-- /Apoiadores -->

<!-- Histórico -->
<div class="wrapper odd" id="timeline">
  <div class="content">
    <h1>Acompanhe o histórico</h1>
    <p>O PL Espião é mais um episódio em uma longa disputa entre liberdade e controle nas redes. Por séculos os burocratas controlaram a informação - até que a internet explodiu em suas caras. Alguém fez magia e eles não perceberam em tempo a beleza que é o processo do Marco Civil. Agora, porém, a ficha caiu e eles querem nos censurar fuder.  Entenda o contexto onde o PL Espião se encaixa.</p>
    <!-- Linha do tempo -->
    <iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1djBRDGYjXYBOqkLuhbytvHshUoN36GWZaisOjrICNbo&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>
    <p class="centered">
      <a class="btn" href="#">Como era essa história de Marco Civil, mesmo?</a>
    </p>
  </div>
</div>
<!-- /Histórico -->

<!-- Twittaço-->
<div class="wrapper even" id="status">
  <div class="content">
    <h1>Fale na orelha deles</h1>
    <p>Muito bem, o email é um bom começo (que você já mandou, certo?!), mas vamos apertar um pouco mais nossos excelentíssimos representantes no legislativo. Você sabia que esse é um projeto que Eduardo Cunha defende há anos? Poisé. Que tal constranger um pouco alguns deputados, perguntando no twitter qual o envolvimento dele com esse projeto absurdo e com o Presidente da Câmara?</p>
    <ul id="filters">
      <li id="pro-filter"><a href="#" data-status="pro">A favor do PL</a></li>
      <li id="against-filter"><a href="#" data-status="against">Contra o PL</a></li>
      <li id="neutral-filter"><a href="#" data-status="neutral">Neutros</a></li>
    </ul>
    <ul id="accounts">
      {% for account in site.data.accounts %}
        <li class="{{ account.status }}">
          <div class="picture-overlay status-{{ account.status }}"></div>
          <img src="{{ account.avatar }}" alt="{{ account.name }}" />
          <div class="account-info">
            <p>
              {{ account.name }}
              <span class="party">{{ account.party }}</span>
            </p>
          </div>
          <div class="tweet">
            <a href="https://twitter.com/intent/tweet?text=@{{ account.twitter }}%20textotwitaco">
              <img src="images/btn-tweet.png" alt="Tweet" />
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <p class="centered">
      <a class="btn btn-odd" href="#">O que o Cunha fez dessa vez?</a>
    </p>
  </div>
</div>
<!-- /Twittaço-->

<!-- Vista-se -->
<div class="wrapper odd" id="badges">
  <div class="content">
    <h1>Vista-se</h1>
    <p class="description">Essa modalidade de pressão te veste de imagem e cores para expressar uma ideia.  A camisa, a faixa, a bandeira. As pessoas ao seu redor vão querer entender o que é isso que você está pintando. Aí vocês conversam a respeito e uma hora você diz: "então, pessoa bonita, plespiao ponto org ponto br"</p>
    <div class="profile">
      <h2>Foto de Perfil</h2>
      <a href="#"><img src="images/profile.png" /></a>
    </div>

    <div class="cover">
      <h2>Capa de Perfil</h2>
      <a href="#"><img src="images/cover.png" /></a>
    </div>

    <p class="centered">
      <a class="btn" href="#">Veja mais no Tumblr</a>
    </p>
  </div>
</div>
<!-- /Vista-se -->

<!-- Pressione -->
<div class="wrapper even" id="actions">
  <div class="content">
    <h1>Pressione mais uma vez</h1>
    <p>Temos mais duas ferramentas de pressão prontinhas para você:</p>
    <ul>
      {% for action in site.data.actions %}
        <li>
          <div class="action-content">
            <h3><img src="{{ action.image }}" alt="{{ action.title }}" /></h3>
            <h4>{{ action.subtitle }}</h4>
            <p>{{ action.description }}</p>
          </div>
          <a class="btn btn-odd btn-click" href="{{ action.link }}">Acesse agora</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- /Pressione -->

<!-- Mídia -->
<div class="wrapper odd" id="media">
  <div class="content">
    <h1>Na mídia</h1>
    <p>Muita coisa já foi escrita sobre o PL Espião. Dê uma olhada nessas matérias para sacar ainda mais o contexto.</p>
    <ul>
      {% for clipping in site.data.clippings %}
        <li>
          <a href="{{ clipping.link }}">
            <strong>{{ clipping.title }}<strong>, <em>{{ clipping.source }}</em>
          </a>
        </li>
      {% endfor; %}
    </ul>
  </div>
</div>
<!-- /Mídia -->
