<footer class="site-footer">
  <div class="content">
    <p class="developed-by">Desenvolvido por <span id="logo-nucleo">Núcleo Digital<span></p>
    <ul id="social-networks">
      <li class="social-networks-label">Siga</li>
      <li class="facebook"><a href="#">Facebook</a></li>
      <li class="twitter"><a href="#">Twitter</a></li>
      <li class="tumblr"><a href="#">Tumblr</a></li>
    </ul>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

<script src="javascripts/script.js" type="text/javascript"></script>

